/**
    * Timer css
**/
.rws-timer {
    display: flex;
    margin-bottom: 20px;
}

.rws-timer  * {
    display: block;
    text-align: center;
    margin-right: 20px;
}
.rws-timer .rws-count-value {
    background: orange;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    border-radius: 50%;
    display: inline-block;
}
.rws-timer {
    display: flex;
    margin-bottom: 20px;
}

.rws-timer  * {
    display: block;
    text-align: center;
    margin-right: 20px;
}
.rws-timer .rws-count-value {
    background: orange;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    border-radius: 50%;
    display: inline-block;
}
.rws-timer {
    display: flex;
    margin-bottom: 20px;
}

.rws-timer  * {
    display: block;
    text-align: center;
    margin-right: 20px;
}
.rws-timer .rws-count-value {
    background: orange;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    border-radius: 50%;
    display: inline-block;
}